@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --color-primary-red: #ea5353;
  --color-primary-cyan: #45d3d3;
  --color-primary-orange: #fcaf4a;
  --color-primary-blue: #549ef2;

  --color-very-dark-blue: #4c4e61;
  --color-grayish-blue: #a3a5ae;
  --color-very-light-gray: #fafafa;

  --font-primary: "Poppins", sans-serif;
}

body {
  font-family: var(--font-primary);
  font-size: 15px;
  color: var(--color-grayish-blue);
  background-color: var(--color-very-light-gray);
  padding: 82px 32px;
}

figure {
  margin: 0;
}

main {
  max-width: 320px;
  margin: 0 auto;
}

.title {
  margin: 12px 0;
  font-weight: 200;
  color: var(--color-very-dark-blue);
  text-align: center;
}

.title--bold {
  font-weight: 600;
}

.title__description {
  margin-top: 32px;
  margin-bottom: 80px;
  line-height: 1.6;
  text-align: center;
}

.cards-section {
  display: grid;
  gap: 32px 0;
}

.feature-card {
  padding: 32px 28px;
  background-color: #fff;
  border-top: 4px solid;
  border-radius: 5px;
  box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.1);
}

.feature-card--red {
  border-color: var(--color-primary-red);
}

.feature-card--cyan {
  border-color: var(--color-primary-cyan);
}

.feature-card--orange {
  border-color: var(--color-primary-orange);
}

.feature-card--blue {
  border-color: var(--color-primary-blue);
}

.feature-card__title {
  margin-top: 0;
  font-weight: 600;
  color: var(--color-very-dark-blue);
}

.feature-card__description {
  font-weight: 200;
}

.feature-card__logo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 32px;
}

.feature-card__logo img {
  width: 55px;
}

@media only screen and (min-width: 1024px) {
  main {
    max-width: 1100px;
  }

  .title {
    font-size: 2.3em;
  }

  .title__description {
    max-width: 500px;
    margin: 32px auto 72px;
  }

  .cards-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 32px;
  }

  .feature-card--cyan {
    grid-row: span 2;
    align-self: center;
  }

  .feature-card--orange {
    grid-column-start: 2;
  }

  .feature-card--blue {
    grid-column-start: 3;
    grid-row: 1 / span 2;
    align-self: center;
  }
}
